@import '_general.less';
@import '_palette.less';

.projects-container {
  .section();
  background-color: #FAFAFA;
  color: @primary-dark;

  .projects-content {
    margin: auto;
    max-width: 600px;
  }

  .projects-list {
    padding: 0;
  }

  .project-item {
    margin-bottom: 2rem;
  }

  .project-title {
    font-size: 1.3rem;
    text-align: left;
  }

  .project-description {
    .paragraph();
    text-align: left;
    font-size: 0.9rem;
    padding: 0;

    a {
      text-decoration: none;
      color: @accent;
      font-weight: 700;
    }
  }

  .preview {
    max-width: 100%;
    transition: filter .5s;
    filter: grayscale(75%);

    &:hover {
      filter: grayscale(0%);
    }
  }
}
